.container {
    height: 100vh;
    width: 100vw;
    background-color: rgb(58, 58, 58);
    // background: rgb(0,0,0);
    // background: linear-gradient(345deg, rgba(0,0,0,1) 0%, rgba(96,96,96,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.body {
    max-width: 90vw;
    max-height: 90vh;
    width: 90vw;
    height: 90vh;
    background: white;

    // background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    
    border-radius: 10px;
    opacity: .8;
    padding: 2rem;
    border-radius: 5px;

    table {
        margin-top: 1rem;
        width: 100%;
        tr {
            display:table;
            width:100%;
            table-layout:fixed;
            cursor: pointer;
        }

        th {
            text-align: left;
        }

        td  {
            padding: .5rem 1rem;
            border-bottom: 1px solid rgb(238, 238, 238);
        }

        th  {
            padding: .5rem .9rem;
        }

        tbody {
            display: block;
            overflow: auto;
            height: 60vh;

            
        }
    }
}

.dir_details {
    display: flex;
    align-items: center;

    &__right {
        margin-left: 1rem;
        display: flex;
        flex-direction: column;

        strong {
            font-size: 1.6rem;
        }

        span {
            color: gray;
        }
    }
}

.dir {
    border: 1px solid rgb(195, 195, 195);
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    margin-bottom: 1rem;

    img {
        width: 15px;
        margin-right: 5px;
    }

    span {
        display: flex;
        align-items: center;
    }
}

.refresh {
    margin-left: auto;
    margin-right: 1rem;
    cursor: pointer;

    &:active {
        color: red;
    }
}


.el_1 {
    position: absolute;
    right: 0%;
    top: 20%;
}


.el_2 {
    position: absolute;
    right: 10%;
    top: 50%;
}